beautifulsoup4==4.12.3
Django==5.0.6
djangorestframework==3.15.1
django-cors-headers==4.3.1
gnews==0.2.6
joblib==1.4.2
nltk==3.8.1
numpy==1.26.4
pandas==2.2.2
pandas-ta==0.3.14b0
requests==2.31.0
scikit-learn==1.4.2
setuptools==69.5.1
yfinance==0.2.38
gunicorn==21.2.0
whitenoise==6.6.0
psycopg2-binary==2.9.9
python-decouple==3.8
dj-database-url==2.1.0